<header class="bg-dark box-shadow-lg shadow p-3">
	<nav class="container navbar navbar-dark navbar-expand-md bg-body-dark">
		<div class="container-fluid">
		<a class="navbar-brand mx-5" href="#"><h1>userFlow</h1></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav gx-5 mx-5 ms-auto align-items-center">
			<li class="nav-item">
				<!-- <a class="nav-link active text-decoration-none text-white btn btn-outline-warning d-flex flex-column align-items-center border-0 px-4" aria-current="page" href="userList" routerLinkActivate="active">Home</a> -->
				<a class="nav-link active text-decoration-none text-white btn btn-outline-warning d-flex flex-column align-items-center border-0 px-4 btn-xl" aria-current="page" [routerLink]="['/userList']" routerLinkActive="active"><h5>Home</h5></a>
			</li>
			<li class="nav-item">
				<a class="text-decoration-none text-white btn btn-outline-primary d-flex flex-column align-items-center border-0 px-4 btn-xl" routerLinkActive="active" [routerLink]="['/newUser']"><h5>Nuevo Usuario</h5></a>
			</li>
		</ul>
	</div>
		</div>
	</nav>
</header>
